<a href="https://colab.research.google.com/github/minibrixie/Advanced-Data-Visualization-Lunar-Midterm/blob/main/Advanced_Data_Visualization_Lunar_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = input("What is your name? ")
print("Hello", name.capitalize())
age = input("How old are you? ")
print("You are", age, "years old")

What is your name? angelica
Hello Angelica
How old are you? 22
You are 22 years old

In [2]:
s = "pizza"
t = s[0].upper()
s.capitalize()
print(t)

P

In [3]:
s = "pizza"
t = s.upper()
print(t)

PIZZA

In [4]:
s = "pizza"
t = s.lower()
print(t)

pizza

In [5]:
name = "Read"
new_name = name.replace('R', 'P').replace('d', 'l')
print(new_name)

Peal

In [6]:
a = 2
b = 3
c = 2.3
d = True
print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'int'> <class 'float'> <class 'bool'>

In [7]:
name = input("What is your name? ") # Rune
print(f"Hello {name}!")
birth_year = input("What is your birth year? ")
birth_year = int(birth_year)
print(f"You are {2023 - birth_year} years old!")

What is your name? Angelica
Hello Angelica!
What is your birth year? 2001
You are 22 years old!

In [8]:
s1 = input("Enter the first number: ")
s2 = input("Enter the second number: ")
Add = float(s1) + float(s2)
print('Sum: {0} + {1} = {2}'.format(s1, s2, Add))
Subtract = float(s1) - float(s2)
print('Difference: {0} - {1} = {2}'.format(s1, s2, Subtract))
Multiply = float(s1) * float(s2)
print('Product: {0} * {1} = {2}'.format(s1, s2, Multiply))
Divide = float(s1) / float(s2)
print('Quotient: {0} / {1} = {2}'.format(s1, s2, Divide))
Exponent = float(s1) ** float(s2)
print('Power: {0} ** {1} = {2}'.format(s1, s2, Exponent))
Remainder = float(s1) % float(s2)
print('Division with Remainder: {0} / {1} = {2}\nRemainder: {2}'.format(s1, s2, Divide, Remainder))

Enter the first number: 1
Enter the second number: 25
Sum: 1 + 25 = 26.0
Difference: 1 - 25 = -24.0
Product: 1 * 25 = 25.0
Quotient: 1 / 25 = 0.04
Power: 1 ** 25 = 1.0
Division with Remainder: 1 / 25 = 0.04
Remainder: 0.04

In [9]:
num = 5 
if num > 0 and num < 15: 
 print(num)

5

In [10]:
if 5!=10:
 print("5 and 10 is not equal")

5 and 10 is not equal

In [11]:
choice = int(input("Enter your choice:"))
print("Enter two numbers: ")
num1 = float(input())
num2 = float(input())
if choice == 1: 
 res = num1 + num2
 print("Result = ", res)
elif choice == 2:
 res = num1 - num2
 print("Result = ", res)
elif choice == 3:
 res = num1 * num2
 print("Result = ", res)
elif choice == 4:
 res = num1 / num2
 print("Result = ", res)
elif choice == 5:
 exit()
else: 
 print("Wrong input..!!")

Enter your choice:1
Enter two numbers:
25
12
Result =  37.0

In [12]:
thislist = ["apple", "banana", "cherry"]
print(thislist[2])

cherry

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [14]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [15]:
x = [7, 4, 3, 2, 5]
x.remove(5)
print(x)

[7, 4, 3, 2]

In [16]:
z = [7, 5, 3, 3]
removed_item = z.pop(1)
print(removed_item)
print(z)

5
[7, 3, 3]

In [17]:
x = [1, 2, 3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

In [18]:
z = [1, 2, 3, 4, 5]
z.insert(4, [1, 2]) 
print(z)

[1, 2, 3, 4, [1, 2], 5]

In [19]:
import numpy
lst = [1, 7, 0, 6, 2, 5, 6]
arr = numpy.asarray(lst)
print("List:", lst)
print("arr: ", arr)
arr1 = numpy.asarray(arr)
print("arr1: " , arr1)
arr1[3] = 23
print("lst: " , lst)
print("arr1: " , arr1)

List: [1, 7, 0, 6, 2, 5, 6]
arr:  [1 7 0 6 2 5 6]
arr1:  [1 7 0 6 2 5 6]
lst:  [1, 7, 0, 6, 2, 5, 6]
arr1:  [ 1  7  0 23  2  5  6]